<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazing shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="background: #FFFFFF">
<style type="text/css">
    #inp {
        width: 70%; /* Ширина */
        margin: auto;
        margin-top: 8%;
    }
</style>

<style type="text/css">
    #site-title {
        margin: auto;
        margin-top: 2%;
    }
</style>

<style type="text/css">
    #result {
        width: 70%; /* Ширина */
        margin: auto;
        margin-top: 3%;
        visibility: hidden
    }
</style>

<div id="site-title">
    <h1 style="text-align: center">
        GTFO Shortener
    </h1>
</div>

<div class="input-group input-group-lg" id="inp">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">URL</span>
    </div>
    <input type="text" id="base-url" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
    <button id="res-btn" onclick="showPWField()" style="margin-top: 10px" type="button"
            class="btn btn-primary btn-lg btn-block">
        Short it
    </button>
    <script>
        function showPWField() {
            let responseInput = $('#result-url');
            let textValue = $('#base-url').val();
            $.ajax({
                url: "/short",
                type: 'POST',
                data: {"base_url": textValue},
                success: function (response) {
                    $('#result').css({visibility: "visible"});
                    responseInput.val(response.result)
                },
                error: function () {
                    alert("Invalid URL");
                }
            });
        }
    </script>

</div>

<div id="result">
    <div id="site-title">
        <h1 style="text-align: center">Here's your short url</h1>
    </div>
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Result</span>
        </div>
        <input id="result-url" readonly type="text" class="form-control" aria-label="Large"
               aria-describedby="inputGroup-sizing-sm">
        <button onclick="doCopy()" style="margin-top: 10px" type="button"
                class="btn-primary btn-lg btn-block btn btn-success">Copy to
            clipboard
        </button>
        <script>
            function doCopy() {
                let copyText = document.getElementById("result-url");
                copyText.select();
                document.execCommand("copy");
                alert("Copied the text: " + copyText.value);
            }
        </script>
    </div>
</div>
<div id="api" style="margin-left: 1%">
    <a href="{{ url_for('templates', filename='api.html') }}">API</a>
</div>
</body>
</html>