<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Amazing shortener</title>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    </head>
    <body>
        <h1>
            <pre class="prettyprint">
In [1]: import requests

In [2]: url = 'https://google.com/'

In [3]: endpoint = 'https://gtfo.gq/'

In [4]: requests.get(endpoint, params={'base_url': url}).json()
Out[4]: {'result': 'https://gtfo.gq//9n9FaGI'}
            </pre>
        </h1>
    </body>
</html>